<footer class="kt-footer">
	<!-- begin: container -->
	<div class="kt-container-fixed">
		<div class="flex flex-col md:flex-row justify-center md:justify-between items-center gap-3 py-5">
			<div class="flex order-2 md:order-1 gap-2 font-normal text-sm">
				<span class="text-secondary-foreground">
					2025©
				</span>
				<span class="text-secondary-foreground">
					KayianERP
				</span>
			</div>
			<nav class="flex order-1 md:order-2 gap-4 font-normal text-sm text-secondary-foreground">
				<a class="hover:text-primary" href="#">
					{{ 'footer.help' | translate }}
				</a>
				<a class="hover:text-primary" href="#">
					{{ 'footer.support' | translate }}
				</a>
			</nav>
		</div>
	</div>
	<!-- end: container -->
</footer>